/* reset das configurações do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    background-image: url(https://img.freepik.com/vetores-premium/fundo-vetorial-de-um-espaco-infinito-com-nebulosas-de-galaxias-de-estrelas_395079-14579.jpg?semt=ais_related_payload_trends&w=740&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


h2 {
    text-align: center;
    font-size: 60px;
    font-family: "Comic Sans MS", cursive;
}       




p{
    text-align: justify;
    font-size: 15px;
    font-family: "Gigi", cursive;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
}

img{
    display: block;
    max-width: 300px;
    margin: 10px auto;
}

button{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 30px;
}

ol {
    padding: 30px auto;
    text-align: center;
    list-style-position: inside;
}
li{
    font-size:60px;
    font-weight: bold;
    color: aqua;

}